/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.rbenv-vars

# Ignore work products
.sailboat.yml
.env.example
docker-compose.yml
Dockerfile

# Ignore Docker ENV
/.env
